<div class="container">
	<h2>Destinations</h2>
	Region: <br /> <input type="text" data-ng-model="filter.region"
		placeholder="region" /> <br />
	<div class="accordion" id="accordion">
		<div class="accordion-group"
			data-ng-repeat="destination in destinations | filter:filter.region | orderBy:'region'">
			<div class="accordion-heading">
				<div class="accordion-toggle">
					<a data-toggle="collapse" data-parent="#accordion"
						href='/places/#{{ destination._id }}'>{{ destination.location
						}}</a>
				</div>
			</div>
			<div id="{{ destination._id }}" class="accordion-body collapse">
				<div class="accordion-inner">{{ destination.description }}</div>
			</div>
		</div>
	</div>
</div>