		<!--  Carousel - consult the Twitter Bootstrap docs at http://twitter.github.com/bootstrap/javascript.html#carousel -->
		<div class="container">
		<div id="this-carousel-id" class="carousel slide"><!-- class of slide for animation -->
			<div class="carousel-inner">
				<div class="item active places"><!-- class of active since it's the first item -->
					<img src="pics/hampi.jpg" alt="Hampi" />
					<div class="carousel-caption">
						<p><a href="http://goindia.about.com/od/historicalplaces/p/hampiguide.htm" class="btn btn-success btn-small">Village of Hampi (Karnataka)</a></p>
					</div>
				</div>
				<div class="item places">
					<img src="pics/keralabackwaters.jpg" alt="Kerala Backwaters" />
					<div class="carousel-caption">
						<p><a href="http://goindia.about.com/od/southindia/ig/Kerala-Backwaters-Attractions/" class="btn btn-success btn-small">Kerala Backwaters</a></p>
					</div>
				</div>
				<div class="item places">
					<img src="pics/kochi.jpg" alt="Kochi" />
					<div class="carousel-caption">
						<p><a href="http://goindia.about.com/od/kerala/tp/Kochi-Attractions.htm" class="btn btn-success btn-small">Kochi</a></p>
					</div>
				</div>
				<div class="item places">
					<img src="pics/madurai.jpg" alt="Madurai" />
					<div class="carousel-caption">
						<p><a href="http://goindia.about.com/od/tamilnadu/tp/top-tamil-nadu-attractions.htm" class="btn btn-success btn-small">Madurai</a></p>
					</div>
				</div>
				<div class="item places">
					<img src="pics/varkala.jpg" alt="Varkala" />
					<div class="carousel-caption">
						<p><a href="http://goindia.about.com/od/festivalsevents/ig/Varkala-Temple-Festival/" class="btn btn-success btn-small">Varkala Temple Festival</a></p>
					</div>
				</div>
			</div><!-- /.carousel-inner -->
			<!--  Next and Previous controls below
			href values must reference the id for this carousel -->
			<a class="carousel-control left" href="#this-carousel-id" data-slide="prev">&lsaquo;</a>
			<a class="carousel-control right" href="#this-carousel-id" data-slide="next">&rsaquo;</a>
		</div><!-- /.carousel -->
		</div>
	<!--	<div class="hero-unit"> -->
	
			<div class="container">
			<div class="leaderboard well">  
				<h1>Amazing India SPA</h1>

				<p>Visit some of the exciting destinations in India. The idea behind this site was to create an end to end java script based SPA.
				Tools and Frameworks used AngularJS, Bootstrap , Node.js , MongoDB for Persistence , Social Buttons for Twitter Bootstrap, JQuery One Page Navigation Plugin</p>
			</div>
			</div>
		<!-- </div> -->
		
		<div class="container">
			<div class="row-fluid">
				<div class="span8">
					<div id="content">
					<div class="section" id="section-1">
						<p class="lead">Section 1</p>
						<p>With Bootstrap, the first thing you do is cash in on a lot of time. The Bootstrap libraries offer readymade pieces of code that can pump life into a website. A web developer doesn't have to spend time laboriously working out and writing code, but simply find the right piece and fit it into the structure they're working on. In addition to this, a lot of the styling and design aspects are already taken care of, since the CSS is built with LESS. </p>
					</div>
					
					<div class="section" id="section-2">
						<p class="lead">Section 2</p>
						<p>With Bootstrap, the first thing you do is cash in on a lot of time. The Bootstrap libraries offer readymade pieces of code that can pump life into a website. A web developer doesn't have to spend time laboriously working out and writing code, but simply find the right piece and fit it into the structure they're working on. In addition to this, a lot of the styling and design aspects are already taken care of, since the CSS is built with LESS. </p>
					</div>
					
					<div class="section" id="section-3">
						<p class="lead">Section 3</p>
						<p>With Bootstrap, the first thing you do is cash in on a lot of time. The Bootstrap libraries offer readymade pieces of code that can pump life into a website. A web developer doesn’t have to spend time laboriously working out and writing code, but simply find the right piece and fit it into the structure they’re working on. In addition to this, a lot of the styling and design aspects are already taken care of, since the CSS is built with LESS. </p>
					</div>

					<div class="section" id="section-4">
						<p lass="lead">Section 4</p>
						<p>With Bootstrap, the first thing you do is cash in on a lot of time. The Bootstrap libraries offer readymade pieces of code that can pump life into a website. A web developer doesn’t have to spend time laboriously working out and writing code, but simply find the right piece and fit it into the structure they’re working on. In addition to this, a lot of the styling and design aspects are already taken care of, since the CSS is built with LESS. </p>
					</div>
					
					<div class="row-fluid">
						<div class="span4">
							<h4>Our Clients</h4>
							<p>Hello These are our clients. <a href="#">Click here</a>.</p>
							<a href="#" class="btn btn-primary"><i class="icon-heart icon-white"></i> Our Clients</a>
						</div>
						<div class="span4">
							<h4>Our Clients</h4>
							<p>Hello These are our clients. <a href="#">Click here</a>.</p>
							<a href="#" class="btn btn-primary"><i class="icon-music icon-white"></i> Our Clients</a>
						</div>
						<div class="span4">
							<h4>Our Clients</h4>
							<p>Hello These are our clients. <a href="#">Click here</a>.</p>
							<a href="#" class="btn btn-primary"><i class="icon-file icon-white"></i> Our Clients</a>
						</div>
					</div>
					</div>
				</div>
				<div class="span4 well">
					<ul id="nav" class="nav nav-list">
						<li class="nav-header">Index</li>
						<li class="current"><a href="##section-1">Section 1</a></li>
						<li><a href="##section-2">Section 2</a></li>
						<li><a href="##section-3">Section 3</a></li>
						<li><a href="##section-4">Section 4</a></li>
						<li class="divider"></li>
						<li class="nav-header">Our Services</li>
						<li><a href="#">Overview</a></li>
						<li><a href="#">Web Designing</a></li>
						<li><a href="#">Web Development</a></li>
						<li><a href="#section-1">Android Applications</a></li>
						<li class="divider"></li>
						<li><a href="#">Help</a></li>
					</ul>
				</div>
			</div>
		</div>
