extends layout

block content
	// Vendor Libs: jQuery only used for Bootstrap functionality
	script(src='/js/angular.js')
	script(src="/js/angular-route.js")
	script(src="/js/angular-cookies.js")
	script(src="/js/angular-resource.js")
	script(src="/js/socket.io.js")
	script(src="/js/jquery-1.10.1.js")
	script(src="/js/bootstrap.js")
	script(src="/js/jquery.scrollTo.min.js")
	script(src="/js/jquery.localScroll.js")
	script(src="/js/jquery.easing.compatibility.js")
	script(src="/js/jquery.simpleWeather.js")
	script(src="/travelapp/directives/localWeather.js")
	script(src="/travelapp/directives/ng-google-chart.js")
	div.navbar.navbar-inverse.navbar-fixed-top(role="navigation")
		div.container
			div.navbar-header
				button(type="button",class="navbar-toggle",data-toggle="collapse",data-target=".navbar-collapse")
					span(class="sr-only") Toggle navigation 
					span(class="icon-bar")
					span(class="icon-bar")
					span(class="icon-bar")
				a(class="navbar-brand",href="#") India Tourism
			div.collapse.navbar-collapse
				ul.nav.navbar-nav
					li.dropdown
						a(href="",class="dropdown-toggle",data-toggle="dropdown") Places 
							b(class="caret")
						ul.dropdown-menu
							li(ng-class="{active:getClass('/placesAll')}") 
								a(href="#/placesAll") All Destinations
							li(ng-class="{active:getClass('/groupedDestinations')}") 
								a(href="#/groupedDestinations") Grouped Destinations
					li(data-ng-class="{'active':getClass('/orders')}")
						a(href="#/polls") Travel Poll
					if (_user)
						li.dropdown
							a.dropdown-toggle(data-toggle="dropdown") #{_user.local.email}
								b(class="caret")
							ul.dropdown-menu
								li(ng-class="{active:getClass('#/profile')}") 
									a(href="#/profile") About Me
								li(ng-class="{active:getClass('/logout')}") 
									a(href="/logout") Logout
					else
						li.dropdown
							a.dropdown-toggle(data-toggle="dropdown") Login
								b(class="caret")
							div.dropdown-menu.row-fluid.navbar-inverse
								form.navbar-inverse(action="/login",method="post",style="margin: 0px;padding:5px;",accept-charset="UTF-8")
									div.form-group
										label.sr-only(style="padding:5px;") Email
										input.form-control(type="text",name="email",placeholder="Email")
									div.form-group
										label.sr-only(style="padding:5px;") Password
										input.form-control(type="password",name="password",placeholder="Password")
									div.form-group
										div.col-sm-offset-2.col-sm-10.col-md-12.col-md-offset-0.col-lg-12.col-lg-offset-0
											div.checkbox
												label.label Remember me
												input(type="checkbox",name="rememberme")
									div.form-group
										button.btn.btn-warning(type="submit") Login
												li(ng-class="{active:getClass('/profile')}")

							
	div.container
		div.span12(data-ng-view="",style="margin-top: 60px;margin-bottom: 60px")

	#footer.container
		nav.navbar.navbar-default.navbar-fixed-bottom
			div.navbar-inner.navbar-content-center
				div.span12
					ul.nav.nav-pills
						li
							a(href="http://in.linkedin.com/in/tsukhu/") Tarun Sukhu
						li
							a(href="#") About Us
						li
							a(href="") &copy; 2014
	script.
		$.noConflict();
		
		function equalHeight(group) {    
			alert("ss");
			tallest = 0;    
			group.each(function() {       
				thisHeight = $(this).height();
				if(thisHeight > tallest) {
					tallest = thisHeight;
				}
			});
			group.each(function() { $(this).height(tallest); });
		} 
		
		jQuery(document).ready(function($) {
			// Code that uses jQuery's $ can follow here.
			//		alert("hello");
				$('.carousel').carousel({
					interval : 2000
				});

			//
			//	Most jQuery.localScroll's settings, actually belong to jQuery.ScrollTo, check it's demo for an example of each option.
			//	@see http://flesler.demos.com/jquery/scrollTo/
			//	You can use EVERY single setting of jQuery.ScrollTo, in the settings hash you send to jQuery.LocalScroll.


			// The default axis is 'y', but in this demo, I want to scroll both
			// You can modify any default like this
			$.localScroll.defaults.axis = 'y'; //'xy';

			//
			//	NOTE: I use $.localScroll instead of $('#navigation').localScroll() so I
			//	also affect the >> and << links. I want every link in the page to scroll.
				
			$('#nav').localScroll({
				duration : 3000,
				easing : "swing"
			});
			
			// Ensure equal heights on thumbnail boxes
			// equalHeight($(".thumbnail"));
		});
		
	// App libs
	script(src="/travelapp/travelapp.js")
	script(src="/travelapp/services/travelService.js")
	script(src="/travelapp/controllers/controllers.js")