doctype html
html(data-ng-app="travelApp")
	head
		meta(charset="utf-8")
		meta(name="viewport",content="width=device-width,initial-scale=1.0")
		title= title
		link(rel='stylesheet', type="text/css", href="/css/bootstrap.min.css")
		link(rel="stylesheet", type="text/css", href="/css/bootstrap-theme.min.css")
		link(rel="stylesheet", type="text/css", href="/css/bootstrap-responsive.min.css")
		link(rel="stylesheet", type="text/css", href="/css/social-buttons.css")
		link(rel="stylesheet", type="text/css", href="/css/font-awesome.css")
		link(rel="stylesheet", type="text/css", href="/css/flag-icon.css")
	body
		block content