doctype html
html(data-ng-app="travelApp", i18n-locale=i18n.getLocale() )
	head
		meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
		meta(name="viewport",content="width=device-width,initial-scale=1.0")
		title= title
		link(rel='stylesheet', type="text/css", href="/css/bootstrap.min.css")
		link(rel="stylesheet", type="text/css", href="/css/bootstrap-theme.min.css")
		link(rel="stylesheet", type="text/css", href="/css/bootstrap-responsive.min.css")
		link(rel="stylesheet", type="text/css", href="/css/social-buttons.css")
		link(rel="stylesheet", type="text/css", href="/css/font-awesome.css")
		link(rel="stylesheet", type="text/css", href="/css/flag-icon.css")
		link(rel="stylesheet", type="text/css", href="/css/bootstrap-switch.css")
		link(rel="stylesheet", type="text/css", href="/css/customstyle.css")
	body
		block content