extends userlayout

block content
	.container
		.col-sm-6.col-sm-offset-3
			h1
				span.fa.fa-sign-in
				| Login
				//
					show any messages that come back with authentication
			if (message.length > 0) 
				div.alert.alert-danger
					= message
			//
				LOGIN FORM
			form(action="/login",method="post")
				div.form-group
					label Email
					input.form-control(type="text",name="email",placeholder="Email")
				div.form-group
					label Password
					input.form-control(type="password",name="password",placeholder="Password")
				div.checkbox
					label Remember me
						input(type="checkbox",name="rememberme", checked=("#{rememberme}"==="checked" ? "checked" : undefined))
				button.btn.btn-warning.btn-lg(type="submit") Login
			hr
			p Need an account? 
				a(href="/signup") Signup
			p Or go 
				a(href="/") home.
				