extends userlayout

block content
	.container
		.col-sm-6.col-sm-offset-3
			h1
				span.fa.fa-sign-in
				| Signup
				//
					show any messages that come back with authentication
			if (message.length > 0) 
				div.alert.alert-danger
					= message
			//
				LOGIN FORM
			form(action="/signup",method="post")
				div.form-group
					label Email
					input.form-control(type="email",name="email",required)
				div.form-group
					label Username
					input.form-control(type="text",name="username")
				div.form-group
					label Password
					input.form-control(type="password",name="password")
				button.btn.btn-warning.btn-lg(type="submit") Signup
			hr
			p Already have an account? 
				a(href="/login") Login
			p Or go 
				a(href="/") home.
				