doctype html
html
head
	title Node Authentication
	script(src="/js/jquery-1.10.1.js")
	script(src="/js/bootstrap.js")
	link(rel='stylesheet', type="text/css", href="/css/bootstrap.min.css")
	link(rel="stylesheet", type="text/css", href="/css/bootstrap-theme.min.css")
	link(rel="stylesheet", type="text/css", href="/css/bootstrap-responsive.min.css")
	link(rel="stylesheet", type="text/css", href="/css/font-awesome.css")
		
		
	style
		body 		{ padding-top:80px;word-wrap:break-word; }
	body
		block content