doctype html
html
head
	title Node Authentication
	link(rel='stylesheet', type="text/css", href="/css/bootstrap.min.css")
	link(rel="stylesheet", type="text/css", href="/css/bootstrap-theme.min.css")
	link(rel="stylesheet", type="text/css", href="/css/bootstrap-responsive.min.css")
	link(rel="stylesheet", type="text/css", href="/css/font-awesome.css")
	style
		body 		{ padding-top:80px;word-wrap:break-word; }
	body
		block content