.jumbotron-India{
	background: url(../pics/travel.jpg);
	border-top: #ccc 1px solid;
  	border-right: #ccc 1px solid;
  	border-bottom: #777 1px solid;
 	border-left: #777 1px solid;
}

.catalog {
	background-image: url(../pics/background_travel.png);
	background-repeat:repeat
}

@media all and (min-width: 960px) {
    .container{
        font-size: 16px;
    }
    
    .jumbotron h2{
        font-size: 21px;
    }
    
    .jumbotron p{
        font-size: 18px;
    }
    
    .well h1 {
    	font-size: 24px;
    }
    .page-header h1 {
    	font-size: 24px;
    }
    
    h1 {
    	font-size: 24px;
    }
}
 
@media all and (max-width: 959px) and (min-width: 600px) {
    .container{
        font-size: 14px;
    }
    
    .jumbotron h2{
        font-size: 18px;
    }
    
    .jumbotron p{
        font-size: 16px;
    }
    
    .well h1 {
    	font-size: 20px;
    }
    .page-header h1 {
    	font-size: 20px;
    }
    
    h1 {
    	font-size: 20px;
    }
}
 
@media all and (max-width: 599px) and (min-width: 320px) {
    .container{
        font-size: 12px;
    } 
    
  .jumbotron h2 {
    font-size: 14px;
  }
  
     .jumbotron p{
        font-size: 12px;
    }
    

    .well h1 {
    	font-size: 16px;
    }
    .page-header h1 {
    	font-size: 16px;
    }
    
    h1 {
    	font-size: 16px;
    }
}


map, div[map] {display:block; width:400px; height:300px;}

.angular-google-map-container { height: 400px; }


/** Detail View **/

ul.package-thumbs {
  margin: 0;
  list-style: none;
}

ul.package-thumbs li {
  border: .25px solid black;
  display: inline-block;
  margin: .25em;
  background-color: white;
}

ul.package-thumbs img {
  height: 70px;
  width: 70px;
  padding: .15em;
}

ul.package-thumbs img:hover {
  cursor: pointer;
  background-color: #C0C0C0;
}

/******************************/

.spinner {
  width: 100px;
}
.spinner input {
  text-align: right;
}
.input-group-btn-vertical {
  position: relative;
  white-space: nowrap;
  width: 1%;
  vertical-align: middle;
  display: table-cell;
}
.input-group-btn-vertical > .btn {
  display: block;
  float: none;
  width: 100%;
  max-width: 100%;
  padding: 8px;
  margin-left: -1px;
  position: relative;
  border-radius: 0;
}
.input-group-btn-vertical > .btn:first-child {
  border-top-right-radius: 4px;
}
.input-group-btn-vertical > .btn:last-child {
  margin-top: -2px;
  border-bottom-right-radius: 4px;
}
.input-group-btn-vertical i{
  position: absolute;
  top: 0;
  left: 4px;
}