.jumbotron-India{
	background: url(../pics/travel.jpg);
	border-top: #ccc 1px solid;
  	border-right: #ccc 1px solid;
  	border-bottom: #777 1px solid;
 	border-left: #777 1px solid;
}

@media all and (min-width: 960px) {
    .container{
        font-size: 16px;
    }
    
    .jumbotron h2{
        font-size: 21px;
    }
    
    .jumbotron p{
        font-size: 18px;
    }
    
    .well h1 {
    	font-size: 24px;
    }
    .page-header h1 {
    	font-size: 24px;
    }
    
    h1 {
    	font-size: 24px;
    }
}
 
@media all and (max-width: 959px) and (min-width: 600px) {
    .container{
        font-size: 14px;
    }
    
    .jumbotron h2{
        font-size: 18px;
    }
    
    .jumbotron p{
        font-size: 16px;
    }
    
    .well h1 {
    	font-size: 20px;
    }
    .page-header h1 {
    	font-size: 20px;
    }
    
    h1 {
    	font-size: 20px;
    }
}
 
@media all and (max-width: 599px) and (min-width: 320px) {
    .container{
        font-size: 12px;
    } 
    
  .jumbotron h2 {
    font-size: 14px;
  }
  
     .jumbotron p{
        font-size: 12px;
    }
    

    .well h1 {
    	font-size: 16px;
    }
    .page-header h1 {
    	font-size: 16px;
    }
    
    h1 {
    	font-size: 16px;
    }
}


map, div[map] {display:block; width:400px; height:300px;}

.angular-google-map-container { height: 400px; }

body {
  padding-top: 20px;
}

.packages {
  list-style: none;
}

.thumb {
  float: left;
  margin: -1em 1em 1.5em 0em;
  padding-bottom: 1em;
  height: 100px;
  width: 100px;
}

.packages li {
  clear: both;
  height: 100px;
  padding-top: 15px;
}

/** Detail View **/
img.package {
  float: left;
  border: 1px solid black;
  margin-right: 3em;
  margin-bottom: 2em;
  background-color: white;
  padding: 2em;
  height: 400px;
  width: 400px;
}

ul.package-thumbs {
  margin: 0;
  list-style: none;
}

ul.package-thumbs li {
  border: 1px solid black;
  display: inline-block;
  margin: 1em;
  background-color: white;
}

ul.package-thumbs img {
  height: 100px;
  width: 100px;
  padding: 1em;
}

ul.package-thumbs img:hover {
  cursor: pointer;
}


ul.specs {
  clear: both;
  margin: 0;
  padding: 0;
  list-style: none;
}

ul.specs > li{
  display: inline-block;
  width: 200px;
  vertical-align: top;
}

ul.specs > li > span{
  font-weight: bold;
  font-size: 1.2em;
}

ul.specs dt {
  font-weight: bold;
}

h1 {
  border-bottom: 1px solid gray;
}