.jumbotron-India{
	background: url(../pics/travel.jpg);
	border-top: #ccc 1px solid;
  	border-right: #ccc 1px solid;
  	border-bottom: #777 1px solid;
 	border-left: #777 1px solid;
}

@media all and (min-width: 960px) {
    .container{
        font-size: 16px;
    }
    
    .jumbotron h2{
        font-size: 21px;
    }
    
    .jumbotron p{
        font-size: 18px;
    }
    
    .well h1 {
    	font-size: 24px;
    }
    .page-header h1 {
    	font-size: 24px;
    }
}
 
@media all and (max-width: 959px) and (min-width: 600px) {
    .container{
        font-size: 14px;
    }
    
    .jumbotron h2{
        font-size: 18px;
    }
    
    .jumbotron p{
        font-size: 16px;
    }
    
    .well h1 {
    	font-size: 20px;
    }
    .page-header h1 {
    	font-size: 20px;
    }
}
 
@media all and (max-width: 599px) and (min-width: 320px) {
    .container{
        font-size: 12px;
    } 
    
  .jumbotron h2 {
    font-size: 14px;
  }
  
     .jumbotron p{
        font-size: 12px;
    }
    

    .well h1 {
    	font-size: 16px;
    }
    .page-header h1 {
    	font-size: 16px;
    }
}


map, div[map] {display:block; width:400px; height:300px;}

.angular-google-map-container { height: 400px; }





