<div class="container">
	<div class="page-header">
		<h1>Dashboard</h1>
	</div>
	<div class="row">
		<div class="col-md-4">
			<div class="panel panel-default">
				<div class="panel-body"><div id="slot0" style="height: 300px; width: 100%;" kpis="kpis"
				slot="0" name='slot0' angular-canvasjs></div></div>
			</div>
			
		</div>
		<div class="col-md-4">
						<div class="panel panel-default">
				<div class="panel-body"><div id="slot1" style="height: 300px; width: 100%;" kpis="kpis"
				slot="1" name='slot1' angular-canvasjs></div></div>
			</div>
			
		</div>
		<div class="col-md-4">
			<div class="panel panel-default">
				<div class="panel-body"><div id="slot2" style="height: 300px; width: 100%;" kpis="kpis"
				slot="2" name='slot2' angular-canvasjs></div></div>
			</div>
			
		</div>
	</div>

</div>