<div class="container">
	<div class="page-header well">
		<h1>
			Travel Destinations by Group <br> <small>Grouping Nested
				ngRepeat Lists In AngularJS. Also using the wonderful badge and list group components of Bootstrap</small>
		</h1>
	</div>
	<div class="">
		<form class="form-inline">
			<fieldset>
				<label class="control-label"><strong>Group By :</strong></label>
				<div class="btn-group" data-toggle="buttons">
					<label class="btn btn-primary" ng-click="groupBy( 'region' )"> <input type="radio"
						name="options" id="option1" > Region
					</label> <label class="btn btn-primary" ng-click="groupBy( 'state' )"> <input type="radio"
						name="options" id="option3" > State
					</label>
				</div>
			</fieldset>
		</form>
	</div>

	<!-- BEGIN: Outer ngRepeat. -->
	<div ng-repeat="group in groups">

		<h3>{{ group.label }}
		<span class="badge" style="vertical-align:top">{{ group.destinations.length}}</span>
		</h3>
		<ul class="list-group">
		
			<!-- BEGIN: Inner ngRepeat. -->
			<li class="list-group-item" ng-repeat="destination in group.destinations">{{
				destination.location }}</li>
			<!-- END: Inner ngRepeat. -->
		</ul>

	</div>
</div>

