<script src="js/holder.js"></script>
<!--  Carousel - consult the Twitter Bootstrap docs at http://twitter.github.com/bootstrap/javascript.html#carousel -->

<div class="container">

	<div class="jumbotron">
		<h2>{{'Amazing India SPA'|i18n}}</h2>
		<p>{{'Amazing India Description'|i18n}}
		<p>
			<!-- <p><a class="btn btn-primary btn-lg" role="button">Learn more</a></p> -->
		<p>Login or Register with:</p>

		<a href="/login" class="btn btn-primary"><span class="fa fa-user"></span>
			Local Login</a> <a href="/signup" class="btn btn-primary"><span
			class="fa fa-user"></span> Local Signup</a> <br> <br>
		<div ng-controller="CarouselDemoCtrl" id="slides_control">
			<div>
				<carousel interval="myInterval"> <slide
					ng-repeat="slide in slides" active="slide.active"> <img
					ng-src="{{slide.image}}">
				<div class="carousel-caption">
					<p>
						<a href={{slide.href}} class="btn btn-success btn-small transparent ">{{slide.label}}</a>
					</p>
				</div>
				</slide> </carousel>
			</div>
		</div>
	</div>
</div>
<div class="container">
	<div class="row-fluid">
		<div class="span8">
			<video controls class="img img-responsive">
				<source src="streamMovie/movie.mp4" type="video/mp4" />
				<source src="streamMovie/movie.ogg" type="video/webm" />
				<source src="streamMovie/movie.webm" type="video/ogg" />
				<!-- fallback -->
				Your browser does not support the
				<code>video</code>
				element.
			</video>
			<div id="content">
				<div class="panel panel-info" id="section-1">
					<div class="panel-heading">Bootstrap</div>
					<div class="panel-body">With Bootstrap, the first thing you
						do is cash in on a lot of time. The Bootstrap libraries offer
						readymade pieces of code that can pump life into a website. A web
						developer doesn't have to spend time laboriously working out and
						writing code, but simply find the right piece and fit it into the
						structure they're working on. In addition to this, a lot of the
						styling and design aspects are already taken care of, since the
						CSS is built with LESS.</div>
				</div>

				<div class="panel panel-info" id="section-2">
					<div class="panel-heading">Node.js</div>
					<div class="panel-body">Node.js is a platform built on
						Chrome's JavaScript runtime for easily building fast, scalable
						network applications. Node.js uses an event-driven, non-blocking
						I/O model that makes it lightweight and efficient, perfect for
						data-intensive real-time applications that run across distributed
						devices.</div>
				</div>

				<div class="panel panel-info" id="section-3">
					<div class="panel-heading">AngularJS</div>
					<div class="panel-body">AngularJS is an open-source web
						application framework, maintained by Google and community, that
						assists with creating single-page applications, one-page web
						applications that only require HTML, CSS, and JavaScript on the
						client side. Its goal is to augment web applications with
						model–view–controller (MVC) capability, in an effort to make
						both development and testing easier.</div>
				</div>

				<div class="panel panel-info" id="section-4">
					<div class="panel-heading">MongoDB</div>
					<div class="panel-body">MongoDB (from "humongous") is a
						cross-platform document-oriented database system. Classified as a
						NoSQL database, MongoDB eschews the traditional table-based
						relational database structure in favor of JSON-like documents with
						dynamic schemas (MongoDB calls the format BSON), making the
						integration of data in certain types of applications easier and
						faster.</div>
				</div>


				<div class="row-fluid">
					<div class="span4">
						<div class="thumbnail">
							<img src="pics/bootstrap_logo.jpg" alt="...">
							<div class="caption">
								<h3>Twitter Bootstrap</h3>
								<p>This is a caption for Bootstrap</p>
								<p>
									<a class="btn btn-primary btn-lg" role="button">Learn more</a>
								</p>
							</div>
						</div>
					</div>
					<div class="span4">
						<div class="thumbnail">
							<img src="pics/nodejs-dark.png" alt="...">
							<div class="caption">
								<h3>Node.js</h3>
								<p>This is a caption for Node.js
								<p>
									<a class="btn btn-primary btn-lg" role="button">Learn more</a>
								</p>
							</div>
						</div>
					</div>
					<div class="span4">

						<div class="thumbnail">
							<img src="pics/Angular_logo.jpg" alt="...">
							<div class="caption">
								<h3>AngularJS</h3>
								<p>This is a caption for AngularJS</p>
								<p>
									<a class="btn btn-primary btn-lg" role="button">Learn more</a>
								</p>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
		<div data-spy="scroll" data-target=".page-menu-nav" class="span4 well">
			<ul id="nav" class="page-menu-nav nav nav-list">
				<li class="nav-header">Index</li>
				<li class="current"><a smooth-scroll target="section-1">Bootstrap</a></li>
				<li><a smooth-scroll target="section-2">Node.js</a></li>
				<li><a smooth-scroll target="section-3">AngularJS</a></li>
				<li><a smooth-scroll target="section-4">MongoDB</a></li>
				<li class="divider"></li>
				<li><a smooth-scroll target="#">Help</a></li>
			</ul>
		</div>
	</div>

</div>
