<div class="container-fluid catalog">
	<div class="row-fluid">
		<div class="span2">
			<!--Sidebar content-->

			Search: <input ng-model="query" class="form-control"> <br>
			Sort by: <select ng-model="orderProp" class="form-control">
				<option value="name">Alphabetical</option>
				<option value="age">Newest</option>
			</select>

		</div>

		<div class="span10">
			<!--Body content-->
			<br>
			<div class="row-fluid" >
				<div
					ng-repeat="package in packages | filter:query | orderBy:orderProp"
					class="col-sm-6 col-md-4">
					<div class="thumbnail">
						<img ng-src="{{package.imageUrl}}" height="300" width="300">
						<div class="caption">
							<h3>{{package.name}}</h3>
							<p>{{package.snippet}}</p>
							<p>
								<a href="#/catalog/{{package.id}}" class="btn btn-primary"
									role="button">Details</a>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>