<div class="container">
	<div class="page-header">
		<h1>Poll List</h1>
	</div>
	<div class="row">
		<div class="col-xs-5">
			<a href="#/new" class="btn btn-default"><span
				class="glyphicon 
glyphicon-plus"></span> New Poll</a>
		</div>
		<div class="col-xs-7">
			<input type="text" class="form-control" ng-model="query"
				placeholder="Search for a poll">
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<hr>
		</div>
	</div>
	<div class="row" ng-switch on="polls.length">
		<ul ng-switch-when="0">
			<li><em>No polls in database. Would you like to <a
					href="#/new">create one</a>?</li>
		</ul>
		<ul ng-switch-default>
			<li ng-repeat="poll in polls | filter:query"><a
				href="#/poll/{{poll._id}}">View: {{poll.question}} </a> <a
				href="#/remove/{{poll._id}}">Remove: {{poll.question}} </a></li>
		</ul>
	</div>
	<p>&nbsp;</p>
</div>