<div class="container">

	<div class="page-header text-center">
		<div class="container">
			<h1>
				<span class="fa fa-anchor"></span> Profile Page
			</h1>
			<a href="/logout" class="btn btn-primary fa fa-sign-out">Logout</a> <a
				href="/" class="btn btn-primary fa fa-home">Home</a>
		</div>
	</div>

	<div class="row">

		<!-- LOCAL INFORMATION -->
		<div class="col-sm-6">
			<div class="well">
				<h3>
					<span class="fa fa-user"></span> Local
				</h3>
				<p>
					<strong>id</strong>: {{ user._id }}<br> <strong>email</strong>:
					{{ user.local.email }}<br> <strong>password</strong>: {{
					user.local.password }}
				</p>

			</div>
		</div>

	</div>

</div>